<!-- footer -->
<footer id="footer" class="clearfix">
	<!-- footer-top -->
	<section class="footer-top clearfix">
		<div class="container">
			<div class="row">

				<!-- footer-widget -->
				<div class="col-sm-3">
					<div class="footer-widget news-letter">
						<h3>About</h3>
						<p>Hockeytut.com is a global online platform provides a free platform for research and publications tournaments and camps. 
						The main goal is to unite it and easier to find participants for tournaments and camps. Together we make hockey better!</p>	
					</div>
				</div><!-- footer-widget -->




				<!-- footer-widget -->
				<div class="col-sm-3">
					<div class="footer-widget">
						<h3>Pages</h3>
						<ul>
							<li><%= link_to "About", about_path %></li>
							<li><%= link_to "Advertisement", ads_path %></li>
							<li><%= link_to "Forum", forums_path %></li>
							<li><%= link_to "Search Tournaments", search_path %></li>
							<li><%= link_to "Search Camps", search_camp_path %></li>
						</ul>
					</div>
				</div><!-- footer-widget -->

				<!-- footer-widget -->
				<div class="col-sm-3">
					<div class="footer-widget">
						<h3>Rules</h3>
						<ul>
							<li><%= link_to "Privacy Policy", privacy_path %></li>
							<li><%= link_to "Terms Of Use", terms_path %></li>
							<li><%= link_to "Rules", rules_path %></li>
						</ul>
					</div>
				</div><!-- footer-widget -->

				<!-- footer-widget -->
				<div class="col-sm-3">
					<div class="footer-widget social-widget">
						<h3>Follow us</h3>
						<ul>
							<li><a href="https://www.instagram.com/hockeytut_com/" target="_blank"><i class="fa fa-instagram"></i>Instagram</a></li>
						</ul>
					</div>
				</div><!-- footer-widget -->


			</div><!-- row -->
		</div><!-- container -->
	</section><!-- footer-top -->

	
	<div class="footer-bottom clearfix text-center">
		<div class="container">
			<p>Copyright &copy; 2016. Hockeytut.com</p>
		</div>
	</div><!-- footer-bottom -->
</footer><!-- footer -->