  <!-- world-gmap -->
  <section id="main" class="clearfix home-two">
    <!-- gmap --> 
    <div id="road_map"></div>   




<%= search_form_for @search, url: search_camp_path do |f| %>  

    <div class="container">
      

      <!-- category-search -->
      <div class="category-search text-center">
        <ul class="category-list"> 
        <div class="container checkbox">

        <% @categories.each do |s| %>


                <% if !params['q'].nil? %>


                      <% if params['q']['category_camp_in'] && (params['q']['category_camp_in'].include? s) %>

                        <li class="category-item"><label for="q_category_camp_in_<%= s.downcase %>" class="checked"><%= s %><%= f.check_box :category_camp_in, {multiple: true}, s, nil %></label></li>

                      <% else %>

                        <li class="category-item"><label for="q_category_camp_in_<%= s.downcase %>"><%= s %><%= f.check_box :category_camp_in, {multiple: true}, s, nil %></label></li>

                      <% end %>

                  


                <% else %>

                <li class="category-item"><label for="q_category_camp_in_<%= s.downcase %>"><%= s %><%= f.check_box :category_camp_in, {multiple: true}, s, nil %></label></li>
                  

                <% end %>



        
      <% end %>          














        </div>
        <div class="container">
          <li class="col-md-6 p-b-3">
            <h5>Start date</h5>
            <%= f.date_select :start_date_gteq, {:order => [:day, :month, :year], :start_year => 2016, :end_year => 2029, :selected => Date.today.year - 1 }, {class: "chosen-select-date", style: "width: 32%;"}  %>
          </li>
          <li class="col-md-6 p-b-3">
            <h5>End date</h5>
            <%= f.date_select :end_date_lteq, {:order => [:day, :month, :year], :start_year => 2016, :end_year => 2029, :selected => Date.today.year + 10 }, {class: "chosen-select-date", style: "width: 32%;"} %>
          </li>
          </div>
          <div class="container">
            <li><button type="submit" class="searchButton float-right" value="Search">Search</button></li>
          </div>
        </ul>       
      </div><!-- category-search -->      

              
   
      
    </div><!-- container -->



    <% end %>


  </section><!-- world-gmap -->









                      <div style="display: none">
              



                        <% @tournaments.each do |tournament| %>

                            <%= link_to 'Edit', edit_tournament_path(tournament) if current_user && current_user.admin %>
                            <%= link_to 'Destroy', tournament, method: :delete, data: { confirm: 'Are you sure?' } if current_user && current_user.admin %>

                                <%= link_to tournament, target: "_blank" do %>
                                  <% if tournament.photos.length != 0 %>                                    
                                    <img src="<%= tournament.photos[0].image.url %>" alt="Image" class="img-responsive">
                                  <% else %>
                                    <%= image_tag('nocontent.jpg', class: "img-responsive") %>
                                  <% end %>
                                <% end %>
                              
                                  <%= tournament.tournament_type.capitalize %> / 
                                  <% if tournament.tournament_type == 'tournament' %>
                                    <%= tournament.category %>
                                  <% else  %>
                                    <%= tournament.category_camp %>
                                  <% end %>
                                  <%= link_to "#{tournament.name}", tournament, target: "_blank" %>
                                  <i class="fa fa-map-marker"></i><%= ' ' + tournament.address %>
                                  <i class="fa fa-calendar"></i> <%= tournament.start_date.strftime('%d %B %Y') %> - <%= tournament.end_date.strftime('%d %B %Y') %>
                                  <%= tournament.user.first_name + ' ' + tournament.user.last_name %><i class="fa fa-user"></i> </a>              

                          <% end %>



                      </div>
    
              <script>


              handler = Gmaps.build('Google');
              handler.buildMap({
                
                  provider: {
                    // pass in other Google Maps API options here
                  },
                  internal: {
                    id: 'road_map'
                  }
                },
                function(){
                  markers = handler.addMarkers(<%=raw @hash.to_json %>);
                  handler.bounds.extendWith(markers);
                  handler.fitMapToBounds();
                }
              );
                  




            </script>

