  <!-- world-gmap -->
  <section id="main" class="clearfix home-two">
    <!-- gmap --> 
    <div id="road_map"></div>   




<%= search_form_for @search, url: search_camp_path do |f| %>  

    <div class="container">
      

      <!-- category-search -->
      <div class="category-search text-center">
        <ul class="category-list"> 
        <div class="container">
        <% @categories.each do |s| %>
          <li class="category-item"><%= f.check_box :category_camp_in, {multiple: true}, s, nil %>
          <%= s %></li>
        <% end %>
        </div>
        <div class="container">
          <li class="col-md-6 p-b-3">
            <h5>Start date</h5>
            <%= f.date_select :start_date_gteq, {:order => [:day, :month, :year], :start_year => 2016, :end_year => 2029, :selected => Date.today.year - 1 }, class: "date-control"  %>
          </li>
          <li class="col-md-6 p-b-3">
            <h5>End date</h5>
            <%= f.date_select :end_date_lteq, {:order => [:day, :month, :year], :start_year => 2016, :end_year => 2029, :selected => Date.today.year + 10 }, class: "date-control"  %>
          </li>
          </div>
          <div class="container">
            <li><button type="submit" class="form-control" value="Search">Search</button></li>
          </div>
        </ul>       
      </div><!-- category-search -->      

              
   
      
    </div><!-- container -->



    <% end %>


  </section><!-- world-gmap -->









<section id="main" class="clearfix category-page">
    <div class="container">
      <div class="breadcrumb-section">          
        <h2 class="title">Search Tournaments</h2>
      </div>

          

            <!-- category-change -->            

      <div class="category-info"> 
        <div class="row">

          <!-- recommended-ads -->
          <div class="col-sm-8 col-md-7">       
            <div class="section recommended-ads">



              



                        <% @tournaments.each do |tournament| %>

                            <%= link_to 'Edit', edit_tournament_path(tournament) if current_user && current_user.admin %>
                            <%= link_to 'Destroy', tournament, method: :delete, data: { confirm: 'Are you sure?' } if current_user && current_user.admin %>

                            <!-- tournament-item -->
                            <div class="tournament-item row">
                              <!-- item-image -->
                              <div class="item-image-box col-sm-4">
                                <div class="item-image">
                                <%= link_to tournament, target: "_blank" do %>
                                  <% if tournament.photos.length != 0 %>                                    
                                    <img src="<%= tournament.photos[0].image.url %>" alt="Image" class="img-responsive">
                                  <% else %>
                                    <%= image_tag('nocontent.jpg', class: "img-responsive") %>
                                  <% end %>
                                <% end %>
                                </div><!-- item-image -->
                              </div>
                              
                              <!-- rending-text -->
                              <div class="item-info col-sm-8">
                                <!-- ad-info -->
                                <div class="ad-info">

                                  <h3 class="item-price"><%= tournament.tournament_type.capitalize %> / 

                                  <% if tournament.tournament_type == 'tournament' %>
                                    <%= tournament.category %>
                                  <% else  %>
                                    <%= tournament.category_camp %>
                                  <% end %>

                                  </h3>



                                  <div class="item-cat">
                                    <span><%= link_to "#{tournament.name}", tournament, target: "_blank" %></span>
                                  </div>  

                                  <div class="item-cat">
                                    </br><i class="fa fa-map-marker"></i><%= ' ' + tournament.address %>
                                  </div>

                                </div><!-- ad-info -->
                                
                                <!-- ad-meta -->
                                <div class="ad-meta">
                                  <div class="meta-content">
                                    <div class="tag"><i class="fa fa-calendar"></i> <%= tournament.start_date.strftime('%d %B %Y') %> - <%= tournament.end_date.strftime('%d %B %Y') %></div>
                                  </div>                    
                                  <!-- item-info-right -->
                                  <div class="user-option pull-right">
                                    <a data-toggle="tooltip" data-placement="top" title="By <%= tournament.user.first_name + ' ' + tournament.user.last_name %>"><i class="fa fa-user"></i> </a>              
                                  </div><!-- item-info-right -->
                                </div><!-- ad-meta -->
                              </div><!-- item-info -->
                            </div><!-- tournament-item -->


                    <% end %>
                        
                        
                        


              
                   
            </div>
          </div><!-- recommended-ads -->

        </div>  
      </div>
    </div><!-- container -->
  </section><!-- main -->
  
    
              <script>


              handler = Gmaps.build('Google');
              handler.buildMap({
                
                  provider: {
                    // pass in other Google Maps API options here
                  },
                  internal: {
                    id: 'road_map'
                  }
                },
                function(){
                  markers = handler.addMarkers(<%=raw @hash.to_json %>);
                  handler.bounds.extendWith(markers);
                  handler.fitMapToBounds();
                }
              );
                  




            </script>

